<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>用户注册</title>
<a th:href="@{/queryAccount}">用户列表</a>
<a th:href="@{/registerGet}">用户注册</a>

	<hr>
	<table border = "1">
		<tr>
			<th>序号</th>
			<th>登录名</th>
			<th>密码</th>
			<th>年龄</th>
			<th>地址</th>
		</tr>
		<tr th:each = "account:${allAccount}">
			<td th:text = "${account.id}"></td>
			<td th:text = "${account.loginName}"></td>
			<td th:text = "${account.password}"></td>
			<td th:text = "${account.age}"></td>
			<td th:text = "${account.location}"></td>
		</tr>
	</table>
</html>